@page "/notes"

@attribute [StreamRendering]

@inject ISender Sender


<PageTitle>Notes</PageTitle>
<h3>Notes</h3>
<a href="/note-editor" class="btn btn-primary">Crear Nota</a>

@if (notes is null)
{
    <p>Cargando notas...</p>
}
else if (!notes.Any())
{
    <p>No hay notas que mostrar</p>
}
else
{
    @foreach (var note in notes)
    {
        <h4>@note.Title</h4>
        <p> @note.Content</p>
        <small>@note.CreatedAt</small>
        <a href="/note-editor/@note.Id" class="btn btn-success"> Editar</a>
    }
}


@code {
    private List<NoteResponse>? notes = new List<NoteResponse>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetNotesQuery());

        if (result is not null)
        {
            notes = result.IsSuccesful ? result : new List<NoteResponse>();
        }
    }

}
